@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');


:root {
  --borderstyle: solid 1px rgb(202, 202, 202);
  --roundness: 5px;
  --buttonSize: 3vw;
  --bottomButtonSize: 40px;
  --UISize: 20vw;
  --iconSize: 1.2vw;
  --hoverShadow: 0 0 5px #FFFFFF;
  --titleFont: 'Darker Grotesque', sans-serif;
}

body{
  background-color: rgb(40, 40, 40);
  font-family: 'Alata', sans-serif;
  color: white;
  margin:0;
  overflow: scroll;
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none;

}

h2 {
  font-weight: normal;
  font-size: 1.5rem;
}

.loadingContainer {
  background-color:rgb(40, 40, 40);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.quoteContainer {
  width: 40%;
  font-size: 1.1rem;
  letter-spacing: 0.1ch;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10vh;
}

.loadingBox {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin: auto;
  width: 40%;
}

.startButton {
  font-family: var(--titleFont);
  font-size: 40px;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
}

.hoverLine {
  width: 0%;
  height: 1px;
  background-color: white;
  margin: auto;
  transition: width 0.5s;
}

.startButton:hover .hoverLine {
  width: 100%;
}

.quote {
  margin-bottom: 10vh;
  opacity: 0;
}

#quote1 {
  animation: fade1 2s linear 1s 1 forwards;
  -webkit-animation: fade1 2s linear 1s 1 forwards;

}

#quote2 {
  animation: fade1 2s linear 6s 1 forwards;
  -webkit-animation: fade1 2s linear 6s 1 forwards;
}


p {
  margin: 0;
}

.playContainer {
  margin-bottom: 20px;
  margin-right: 5px;
}

.drumContainer {
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: column;
}

.drumdiv{
  margin-bottom: 10px;
}

.UIContainer {
  width: 100%;
  height: 100%;
  min-width: 650px;
  min-height: 550px;
  position: absolute;
  top: 0;
  left: 0;
}

.UILeft {
  width: var(--UISize);
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 10px;
}

.instrumentContainer {
  width: 100%;
  padding-left: 20px;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.trackContainer {
  display: flex;
  width: 100%;
  height: 10vh;
  min-height: 35px;
  margin-top: 30px;
  margin-bottom: 0px;
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
}

.trackUI {
  display: flex;
  flex-grow: 1;
  padding-top: 25px;
  padding-left: 5%;
  padding-right: 5%;
}

.trackIndicator, button{
  width: var(--buttonSize);
  height: var(--buttonSize);
  flex-shrink: 0;
  cursor: pointer;
}

.trackSliderContainer {
justify-content: center;
width: 100%;
}

.trackSlider {
  width: 100%;
  display: flex;
  opacity: 0.5;
}

.trackSlider:hover{
  opacity: 1;
}

.fxSlider {
  display: flex;
  opacity: 0.3;
}

.fxSlider:hover{
  opacity:1;
}

.UIRight {
  width: var(--UISize);
  height: 100%;
  position: absolute;
  right: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
}

.bpmslider {
  display: flex;
  width: 20px;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
  margin-left: 10px;
  height: calc(10vh + 3 * var(--iconSize));
}


.chordContainer {
  margin-bottom: 20px;
  margin-left: 20px;
}

.chordContainer:hover {
  cursor: pointer;
  text-shadow: 0 0 10px #FFFFFF;
}

.chordProgression {
  display: flex;
  justify-self: flex-end;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: var(--borderstyle);
}

.inst{
  border-radius: 50%;
}

.drum {
  border-radius: var(--roundness);
}

.chordButton { 
  text-align: center;
  line-height: 40px;
  width: 25%;
  height: 100%;
}

.chordButton:hover{
  text-shadow: 0 0 4px #FFFFFF;
  background-color: #666666;
}

.fxContainer{
  width: var(--UISize);
  display: flex;
  flex-direction: row-reverse;
}

.fxIndicator {
  border-radius: var(--roundness);
  border: var(--borderstyle);
  line-height: var(--bottomButtonSize);
  text-align: center;
  width: var(--bottomButtonSize);
  height: var(--bottomButtonSize);
}

.fxIndicator:hover, .button:hover {
  box-shadow: var(--hoverShadow);
}

.fxUI{
  width: calc(var(--UISize) / 1.5);
}

.fxUI, .fxIndicator{
  position: absolute;
  bottom: 20px;
  right: 60px;
}

#firstChord{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#lastChord{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#secondChord, #thirdChord {
  border-left: solid 1px #777777;
}

#thirdChord{
  border-right: solid 1px #777777;
}

.slider {
  -webkit-appearance: none;  
  appearance: none;
  height: 0px; 
  background: none;
  outline: none;
  border: solid 1px #666666;
  border-radius: 2px;
  display: block;
  background: none;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 15px;
}

.vertical {
  width: 10vh;
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);

}

::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 7px; 
  height: 15px; 
  border-radius: 3px;
  background: #DDDDDD; 
  cursor: pointer; 
}


::-webkit-slider-thumb:hover {
  background: #FFFFFF;
  box-shadow: 0 0 3px #FFFFFF; 
}

.disabled {
  opacity: 0.2;
}

.disableButton {
  font-size: 1.2em;
  width: 40px;
  text-align: center;
}

.button {
	cursor: pointer;
  width: var(--bottomButtonSize);
  height: var(--bottomButtonSize);
  border: var(--borderstyle);
  border-radius:  var(--roundness);
  background-repeat: round;
}

.iconContainer {
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;

}

.icon {
  width: var(--iconSize);
  margin-bottom: 6px;
  opacity: 0.7;
}

.speedIcon {
  width: 30px;
  margin-top: -15px;
  margin-left: 15px;
  margin-right: 15px;
}

.buttonContainer {
  width: 40px;
  justify-content: flex-end;
  display: flex;
}

.currentChord {
  text-shadow: 0 0 4px #FFFFFF;
  background-color : #333333;
  font-weight: bold;
}

.driftButton {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-family: var(--titleFont);
  font-size: 1.8vw;
}

.driftButton:hover .hoverLine {
  width: 100%;
}

.driftButton:hover {
  text-shadow: 0 0 6px #FFFFFF;

}

.drifting {
  text-shadow: 0 0 10px #FFFFFF;
}

.show {
  opacity: 1;
}
.hide {
  opacity: 0;
  transition: opacity 400ms;
}

@-webkit-keyframes fade1 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fade1 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade1 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade1 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}