:root {
  --borderstyle: solid 2px black;
}

.App {
  text-align: center;
}

body{
  padding: 10px;
}

h1 {
  display: block;
  font-size: 25px;
  margin-left: 20px;
  margin-bottom: -10px;
}

.InstrumentContainer {
  min-width: 400px;
  display: flex;
  padding-left: 20px;
}

.RhythmContainer {
  display: flex;
  padding-left: 20px;
}

.FXContainer {
  display: flex;
  padding-left: 20px;
}

.fxdiv, .drumdiv {
  border: var(--borderstyle);
}

.drumdiv{
  margin-bottom: 10px;
}

.UIContainer {
  display: flex;
  width: 100%;
}

.UILeft {
  justify-content: flex-start;
  width: auto;
  flex-grow: 1;
  border: var(--borderstyle);
}

.UIRight {
  margin-left: 10px;
  width: auto;
  flex-grow: 1;
}

.TrackUI {
  text-align: left;
  width: 150px;
}

.bpmslider {
  text-align: center;
  margin-left: 20px;
}

input[type="range"] {
  transform: rotate(270deg);
  display: block;
  background-color: black;
  width: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ChordContainer {
  margin-left: 20px;
  margin-top: 30px;
  display: flex;
  width: 50%;
}

.ChordButton {
  margin: auto;
}