:root {
  --borderstyle: solid 1px rgb(202, 202, 202);
  --roundness: 5px;
  --buttonSize: 40px;
}

.App {
  text-align: center;
}

body{
  background-color: rgb(40, 40, 40);
  color: white;
  margin:0;
  overflow: scroll;
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none;

}

h1 {
  display: block;
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
}

p {
  margin: 0;
}

.instrumentContainer {
  width: auto;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.playContainer {
  margin-bottom: 20px;
  margin-right: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.drumContainer {
  width: auto;
  padding-left: 20px;
  display: flex;
  height: auto;
  flex-direction: column;
}

.drumdiv{
  margin-bottom: 10px;
}

.UIContainer {
  width: 100%;
  height: 100%;
  min-width: 1150px;
  min-height: 750px;
  position: absolute;
  top: 0;
  left: 0;
}

.UILeft {
  width: 240px;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 10px;
}

.trackContainer {
  text-align: left;
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 20px;
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
}

.trackUI {
  display: flex;
  padding-top: 25px;
}

.trackIndicator, button{
  width: var(--buttonSize);
  height: var(--buttonSize);
  cursor: pointer;
}

.trackSliders {
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
}

.fxSlider {
  display: flex;
}

.UIRight {
  width: 390px;
  height: 100%;
  position: absolute;
  right: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
}

.bpmslider {
  width: 20px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
  height: 150px;
}

.vertical {
  transform: rotate(270deg);
}

.chordContainer {
  display: flex;
  justify-self: flex-end;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: var(--borderstyle);
  margin-left: 20px;
}

.inst{
  border-radius: 50%;
}

.drum {
  border-radius: var(--roundness);
}

.chordButton { 
  text-align: center;
  line-height: 40px;
  width: 25%;
  height: 100%;
}

.chordButton:hover{
  text-shadow: 0 0 4px #FFFFFF;
  background-color: #666666;
}

.fxContainer{
  width: 240px;
  margin-top: 40px;
  margin-bottom: auto;
  display: flex;
  flex-direction: row-reverse;
}

.fxIndicator {
  border-radius: var(--roundness);
  border: solid 1px rgb(202, 202, 202);
  line-height: 40px;
  text-align: center;
  box-shadow: 0px 0px 3px #FFFFFF;
}

.fxUI{
  margin-top: 60px;
  margin-left: 33px;
}

#firstChord{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#lastChord{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#secondChord, #thirdChord {
  border-left: solid 1px #777777;
}

#thirdChord{
  border-right: solid 1px #777777;
}

.slider {
  -webkit-appearance: none;  
  appearance: none;
  height: 0px; 
  background: none;
  outline: none;
  border: solid 1px #666666;
  border-radius: 2px;
  display: block;
  background: #AAAAAA;
  width: 80px;
  margin-top: 7px;
  margin-bottom: 15px;
}

::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 7px; 
  height: 15px; 
  border-radius: 3px;
  background: #DDDDDD; 
  cursor: pointer; 
}


::-webkit-slider-thumb:hover {
  background: #FFFFFF;
  box-shadow: 0 0 3px #FFFFFF; 
}

.disabled {
  opacity: 0.2;
}

.disableButton {
  font-size: 1.2em;
  width: 40px;
  text-align: center;
}

button {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 20px;
  border: var(--borderstyle);
  border-radius:  var(--roundness);
  margin-left: 25px;
  background-repeat: round;
}



.iconContainer {
  width: 15px;
  margin-left: 8px;
  margin-right: 8px;
}

.icon {
  width: 100%;
  margin-bottom: 6px;
  opacity: 0.7;
}

.speedIcon {
  width: 30px;
  margin-top: -15px;
  margin-left: 15px;
  margin-right: 15px;
}

.buttonContainer {
  width: 100%;
  justify-content: flex-end;
  display: flex;
}

.currentChord {
  text-shadow: 0 0 4px #FFFFFF;
  background-color : #333333;
  font-weight: bold;
}

.driftButton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border: var(--borderstyle);
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
}

.drifting {
  text-shadow: 0 0 10px #FFFFFF;
  box-shadow: 0 0 10px #FFFFFF;
}